body {
		background-image:url("../ocenmobi.jpg");
		width: 100vw;
		font-family: arial;

}

.cont {
			width: 100vw;
      box-sizing:border-box;
}

@media (min-width: 768px) {
  body{
  		background-image: url('https://gfycat.com/EntireCarefreeIzuthrush');
  }
  .contenedor {
    width: 100vw; } }

@media (min-width: 1180px) {
  .contenedor {
    width: 100vw; } }
